name: CI/CD - Ansible Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:    # <-- Esto crea el botón de rollback en la web
    inputs:
      git_ref:
        description: 'Versión (Tag o Rama) para desplegar'
        required: true
        default: 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install deps & run tests
        run: |
          # Solo ejecutamos npm install si el archivo existe, para evitar el error 254
          if [ -f package.json ]; then
            npm install
          else
            echo "No se encontró package.json, saltando tests..."
          fi
          
  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: production
    

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare SSH
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.REMOTE_HOST }} >> ~/.ssh/known_hosts
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository --yes --update ppa:ansible/ansible
          sudo apt install -y ansible sshpass

      - name: Run Ansible Playbook (deploy)
        env:
          GIT_REF: ${{ github.ref_name }}
          # Inyectamos la IP para que el inventario la lea
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }} 
        run: |
          cd ansible
          ansible-playbook playbooks/deploy.yml \
          -i inventories/production.yml \
          --ssh-common-args='-o StrictHostKeyChecking=no' \
          --private-key ~/.ssh/id_rsa